// COLORS

$color-Gray: white;
// $color-Gray: #949494;
$color-infoLight: #666;
$color-infoDark: black;

// VARIABLES
$clock-Size: 73vh;

$clock-indicatorHeight: $clock-Size/5;
$clock-indicatorWidth: $clock-Size/15;
$clock-indicatorRadius: $clock-indicatorWidth/2;